<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://timco-websitexans4s3joymge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>timco-websitexans4s3joymge.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>timco-websitexans4s3joymge</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$timco-websitexans4s3joymge</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TimCoDBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:timco-sqlserverxans4s3joymge.database.windows.net,1433;Initial Catalog=TimCoDB;User ID=timco-admin@timco-sqlserverxans4s3joymge.database.windows.net;Password=TopSecret123456" Name="Data Source=tcp:timco-sqlserverxans4s3joymge.database.windows.net,1433;Initial Catalog=TimCoDB;User Id=timco-admin@timco-sqlserverxans4s3joymge.database.windows.net;Password=TopSecret123456" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=timco-sqlserverxans4s3joymge.database.windows.net;Initial Catalog=TimCoDB;Persist Security Info=True;User ID=timco-admin;Password=TopSecret123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TimCoDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=timco-sqlserverxans4s3joymge.database.windows.net;Initial Catalog=TimCoDB;Persist Security Info=True;User ID=timco-admin;Password=TopSecret123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TimCoDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:timco-sqlserverxans4s3joymge.database.windows.net,1433;Initial Catalog=TimCoDB;User Id=timco-admin@timco-sqlserverxans4s3joymge.database.windows.net;Password=TopSecret123456</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>